<html>
<head>
<title>Novelship crawling engine</title>
</head>
<body>
<h1>Landing Page</h1>
<h2>Novelship</h2>

<div id="content">
    <div id="sidebar">
        <form action= "" method="post">
        <h4>Carousell link to crawl:</h4>
        <input type="text" name="Carousell-link-to-redis"><br>
        <input type="submit" value="Submit">
      </form>

        <h4>Amazon link to crawl:</h4>
        <input type="text" name="Amazon-link-to-redis"><br>

        <h4>Ebay link to crawl:</h4>
        <input type="text" name="Ebay-link-to-redis"><br>

    </div>
</div>

<a href="/show" class="sidebar-button">Show all jobs</a>


</body>
</html>
